.heading{
  border: 25px solid firebrick;
  font-size: 70px;
  color: white;
  text-align: center;
}
   
.homep {
  text-align: center;
  color: firebrick;
  font-family: cursive;
  font-size: 20px
}
