/* Style the header */
.header {
    text-align: center;
    color: white;
    font-size: 30px;
}
.topnav {
    background-color: firebrick;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
}
/* Change color on hover */
.topnav a:hover {
    background-color: mediumseagreen;
    color: black;
}
table, td {
    border: 5px dotted mediumseagreen;
    background-color: white;
    font: bold;
    color: black;
    font-size: 15px
}
th {
    background-color: mediumseagreen;
    border: 5px dotted firebrick;
    font: bold;
    font-size: 15;
}
/* Style the footer */
.footer {
    background-color: firebrick;
    text-align: center;
    color: white;
}
