body {
    background-image: url("http://cdn.pcwallart.com/images/white-snowflake-background-wallpaper-1.jpg");
    font-family: "Courier New", Courier, Monospace;
}

.unlisted:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu{
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:firebrick;
}
 
.menu {
    width:1000px;
    margin:0px auto;
}
 
.menu li {
    margin:0px;
    list-style:none;
    font-family:'"Courier New", Courier, Monospace;';
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu > a {
    text-decoration:none;
    color:white;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float: center;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
.heading{
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61wICHP5-ML.jpg");
   background-attachment: local;
    width: 250px;
    padding: 100px;
    border: 25px solid white;
    margin: auto;
   text-align: center;
   color: white;
   font-size: 50px
}
