h1 {
  color:blue;
  font-family: verdana

}

p {
  color:purple;
}

<h1 id="id1">Heading</h1>
<p id="id1">Paragraph.</p>
<p id="id2">Paragraph.</p>

.bluev {
color: blue;
font-family: verdana;
}
.center {
text-align: center;
color: darkturquoise;
}

.bluev p {
color: blue;
font-family: verdana;
}
